Source: nina
Section: base
Priority: optional
Maintainer: Etienne JODRY <etienne.jodry@hotmail.fr>
Standards-Version: 3.9.8
Build-Depends: autotools-dev, debhelper (>=9), python2.7, python-dev, libx11-dev, libxi-dev, python-pip
#Vcs-Git: https://github.com/Varpie/ProjetNINA
X-Python-Version: >= 2.7

Package: nina
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.7, python-lxml, python-selenium
Description: Small AI that browses on the web
 Nina is a study project that intent to develop a software that 
 browses automatically on the web in order to dizzy addtrackers