Source: src
Section: python
Priority: optional
Build-Depends: debhelper (>= 7),
               python (>= 2.7)
Standards-Version: 3.9.2
X-Python-Version: >= 2.6

Package: nina
Version: 1.0
Architecture: all
Section: python
Depends: python-lxml, python-selenium, ${misc:Depends}, ${python:Depends}
Description: Nina is a small AI that browses on the web
